<a href="https://colab.research.google.com/github/vvega7/Chanel7/blob/main/Quality_of_life(exam_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Intro**

Database shows the quality of life indices worldwide in the years 2020 and 2018.

In [1]:
# Libraries

import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

#**2. Import**

In [3]:
# Save the path o the file
p = '/content/calidad.xlsx'

# Read the file
d = pd.read_excel(p)

#check
d.info()

FileNotFoundError: ignored

In [ ]:
# Check the first entries
d.head()

,Year,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,2018,1,Denmark,197.7,117.5,78.0,77.1,93.3,7.2,28.5,23.6,82.4
1,2018,2,Finland,195.3,119.4,76.3,75.4,81.7,7.5,33.2,12.1,58.6
2,2018,3,Netherlands,191.3,109.5,71.1,81.1,82.7,6.7,32.7,27.2,86.9
3,2018,4,Switzerland,190.8,126.1,78.2,71.7,131.4,10.9,29.3,23.0,79.8
4,2018,5,Austria,190.2,98.7,79.6,78.8,81.5,9.6,27.0,22.9,77.7

In [ ]:
# Check the last entries
d.tail()

,Year,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
142,2022,83,Venezuela,77.4,15.4,16.4,39.3,43.2,14.4,34.1,75.4,99.9
143,2022,84,Sri Lanka,67.9,19.3,58.8,72.1,31.3,46.0,57.1,60.2,59.1
144,2022,85,Bangladesh,67.6,25.3,36.6,42.3,33.1,13.5,55.9,85.0,71.3
145,2022,86,Iran,64.9,18.0,50.9,52.3,37.4,33.0,47.1,75.4,65.7
146,2022,87,Nigeria,52.4,9.3,36.2,48.5,30.5,16.1,62.0,88.3,60.8

# **3. Cleaning**

## Column Names

In [ ]:
# Change Time for year
d.rename(columns = {"Property Price to Income Ratio":"Property Price"}, inplace= True)


d.rename(columns = {"Traffic Commute Time Index":"Traffic time"}, inplace= True)

## Delete Columns

In [ ]:
p = d.drop(columns = ['Purchasing Power Index','Health Care Index'])
p.head()

,Year,Rank,Country,Quality of Life Index,Safety Index,Cost of Living Index,Property Price,Traffic time,Pollution Index,Climate Index,Year_str
0,2018,1,Denmark,197.7,78.0,93.3,7.2,28.5,23.6,82.4,2018
1,2018,2,Finland,195.3,76.3,81.7,7.5,33.2,12.1,58.6,2018
2,2018,3,Netherlands,191.3,71.1,82.7,6.7,32.7,27.2,86.9,2018
3,2018,4,Switzerland,190.8,78.2,131.4,10.9,29.3,23.0,79.8,2018
4,2018,5,Austria,190.2,79.6,81.5,9.6,27.0,22.9,77.7,2018

#**A few more thing**

In [ ]:
# (optional) Duplicate the dataframe
pp = d

In [ ]:
# Duplicate year variable
pp["Year_str"] = pp["Year"].astype(str)

# check
pp.head()

,Year,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price,Traffic time,Pollution Index,Climate Index,Year_str
0,2018,1,Denmark,197.7,117.5,78.0,77.1,93.3,7.2,28.5,23.6,82.4,2018
1,2018,2,Finland,195.3,119.4,76.3,75.4,81.7,7.5,33.2,12.1,58.6,2018
2,2018,3,Netherlands,191.3,109.5,71.1,81.1,82.7,6.7,32.7,27.2,86.9,2018
3,2018,4,Switzerland,190.8,126.1,78.2,71.7,131.4,10.9,29.3,23.0,79.8,2018
4,2018,5,Austria,190.2,98.7,79.6,78.8,81.5,9.6,27.0,22.9,77.7,2018

**4. Indexing**

In [ ]:
# create an index
idx = pd.MultiIndex.from_product([pp['Country'].unique(),
                                range(pp.Year.min(),pp.Year.max()+1)],
                                 names = ['Country','Year'])

# Reindex the Quality of live
pp = pp.set_index(['Country','Year'])

# Check
pp.head()

,,Rank,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price,Traffic time,Pollution Index,Climate Index,Year_str
Country,Year,,,,,,,,,,,
Denmark,2018,1,197.7,117.5,78.0,77.1,93.3,7.2,28.5,23.6,82.4,2018
Finland,2018,2,195.3,119.4,76.3,75.4,81.7,7.5,33.2,12.1,58.6,2018
Netherlands,2018,3,191.3,109.5,71.1,81.1,82.7,6.7,32.7,27.2,86.9,2018
Switzerland,2018,4,190.8,126.1,78.2,71.7,131.4,10.9,29.3,23.0,79.8,2018
Austria,2018,5,190.2,98.7,79.6,78.8,81.5,9.6,27.0,22.9,77.7,2018

# **5. Basic Statistics**

In [ ]:
# By variable
pp[['Rank','Quality of Life Index']].describe()

             Rank  Quality of Life Index
count  147.000000             147.000000
mean    38.489796             137.769388
std     23.310697              33.895609
min      1.000000              52.400000
25%     19.000000             109.950000
50%     37.000000             137.900000
75%     55.500000             165.100000
max     87.000000             197.700000

In [ ]:
# By variable and by year
pp[['Rank','Quality of Life Index']].groupby('Year').describe()

      Rank                                                  \
     count  mean        std  min    25%   50%    75%   max
Year
2018  60.0  30.5  17.464249  1.0  15.75  30.5  45.25  60.0
2022  87.0  44.0  25.258662  1.0  22.50  44.0  65.50  87.0

     Quality of Life Index                                               \
                     count        mean        std   min     25%     50%
Year
2018                  60.0  145.965000  32.126165  81.1  122.55  150.05
2022                  87.0  132.117241  34.106264  52.4  106.20  129.20


         75%    max
Year
2018  174.15  197.7
2022  161.05  195.3

In [ ]:
# By variable and by country
pp[['Rank','Quality of Life Index']].groupby('Country').describe()

                Rank                                                   \
               count  mean        std   min    25%   50%    75%   max
Country
Argentina        2.0  52.5  19.091883  39.0  45.75  52.5  59.25  66.0
Australia        2.0   6.0   1.414214   5.0   5.50   6.0   6.50   7.0
Austria          2.0   6.5   2.121320   5.0   5.75   6.5   7.25   8.0
Azerbaijan       1.0  68.0        NaN  68.0  68.00  68.0  68.00  68.0
Bangladesh       1.0  85.0        NaN  85.0  85.00  85.0  85.00  85.0
...              ...   ...        ...   ...    ...   ...    ...   ...
United Kingdom   2.0  19.5   3.535534  17.0  18.25  19.5  20.75  22.0
United States    2.0  12.0   4.242641   9.0  10.50  12.0  13.50  15.0
Uruguay          1.0  49.0        NaN  49.0  49.00  49.0  49.00  49.0
Venezuela        1.0  83.0        NaN  83.0  83.00  83.0  83.00  83.0
Vietnam          2.0  69.5  13.435029  60.0  64.75  69.5  74.25  79.0

               Quality of Life Index                                     \
                               count    mean        std    min      25%
Country
Argentina                        2.0  118.60  18.667619  105.4  112.000
Australia                        2.0  186.25   3.464823  183.8  185.025
Austria                          2.0  184.70   7.778175  179.2  181.950
Azerbaijan                       1.0  104.10        NaN  104.1  104.100
Bangladesh                       1.0   67.60        NaN   67.6   67.600
...                              ...     ...        ...    ...      ...
United Kingdom                   2.0  166.80   7.212489  161.7  164.250
United States                    2.0  175.65   7.000357  170.7  173.175
Uruguay                          1.0  122.30        NaN  122.3  122.300
Venezuela                        1.0   77.40        NaN   77.4   77.400
Vietnam                          2.0   85.55   6.293250   81.1   83.325


                   50%      75%    max
Country
Argentina       118.60  125.200  131.8
Australia       186.25  187.475  188.7
Austria         184.70  187.450  190.2
Azerbaijan      104.10  104.100  104.1
Bangladesh       67.60   67.600   67.6
...                ...      ...    ...
United Kingdom  166.80  169.350  171.9
United States   175.65  178.125  180.6
Uruguay         122.30  122.300  122.3
Venezuela        77.40   77.400   77.4
Vietnam          85.55   87.775   90.0

[87 rows x 16 columns]

# **6. Filters and pivots**

## Simple Filters

In [ ]:
# Filter by country name and save it
usa = pp.filter(like='United States',axis=0)
print(usa)

                    Rank  Quality of Life Index  Purchasing Power Index  \
Country       Year
United States 2018     9                  180.6                   127.6
              2022    15                  170.7                   106.3

                    Safety Index  Health Care Index  Cost of Living Index  \
Country       Year
United States 2018          50.4               68.4                  73.0
              2022          51.8               69.1                  70.1

                    Property Price  Traffic time  Pollution Index  \
Country       Year
United States 2018             3.3          34.7             31.7
              2022             4.0          32.9             35.3

                    Climate Index Year_str
Country       Year
United States 2018           78.2     2018
              2022           76.8     2022

In [ ]:
# Filter by year name and save it
y22 = pp.filter(like='2022',axis=0)
print(y22)

                  Rank  Quality of Life Index  Purchasing Power Index  \
Country     Year
Switzerland 2022     1                  195.3                   118.4
Denmark     2022     2                  192.4                    99.5
Netherlands 2022     3                  185.4                    88.0
Finland     2022     4                  185.0                    91.0
Australia   2022     5                  183.8                   104.6
...                ...                    ...                     ...
Venezuela   2022    83                   77.4                    15.4
Sri Lanka   2022    84                   67.9                    19.3
Bangladesh  2022    85                   67.6                    25.3
Iran        2022    86                   64.9                    18.0
Nigeria     2022    87                   52.4                     9.3

                  Safety Index  Health Care Index  Cost of Living Index  \
Country     Year
Switzerland 2022          78.3               74.8                 123.3
Denmark     2022          73.4               80.1                  84.1
Netherlands 2022          72.1               75.6                  75.7
Finland     2022          72.7               76.3                  73.2
Australia   2022          56.2               78.1                  77.7
...                        ...                ...                   ...
Venezuela   2022          16.4               39.3                  43.2
Sri Lanka   2022          58.8               72.1                  31.3
Bangladesh  2022          36.6               42.3                  33.1
Iran        2022          50.9               52.3                  37.4
Nigeria     2022          36.2               48.5                  30.5

                  Property Price  Traffic time  Pollution Index  \
Country     Year
Switzerland 2022             8.3          28.5             19.6
Denmark     2022             6.8          28.5             21.0
Netherlands 2022             7.2          27.4             25.1
Finland     2022             7.9          27.8             12.1
Australia   2022             7.2          34.8             23.9
...                          ...           ...              ...
Venezuela   2022            14.4          34.1             75.4
Sri Lanka   2022            46.0          57.1             60.2
Bangladesh  2022            13.5          55.9             85.0
Iran        2022            33.0          47.1             75.4
Nigeria     2022            16.1          62.0             88.3

                  Climate Index Year_str
Country     Year
Switzerland 2022           80.2     2022
Denmark     2022           81.8     2022
Netherlands 2022           87.1     2022
Finland     2022           56.6     2022
Australia   2022           92.7     2022
...                         ...      ...
Venezuela   2022           99.9     2022
Sri Lanka   2022           59.1     2022
Bangladesh  2022           71.3     2022
Iran        2022           65.7     2022
Nigeria     2022           60.8     2022

[87 rows x 11 columns]

#**Simple Pivost**

In [ ]:
# Creating is a dataframe with the time-serie of gdp
ts_Rank = p.pivot(index  = 'Year',
                 columns = 'Country',
                  values = 'Rank')
print(ts_Rank)

Country  Argentina  Australia  Austria  Azerbaijan  Bangladesh  Belarus  \
Year
2018          39.0        7.0      5.0         NaN         NaN      NaN
2022          66.0        5.0      8.0        68.0        85.0     63.0

Country  Belgium  Bosnia And Herzegovina  Brazil  Bulgaria  ...  Thailand  \
Year                                                        ...
2018        20.0                    41.0    54.0      40.0  ...      52.0
2022        29.0                    45.0    65.0      43.0  ...      72.0

Country  Tunisia  Turkey  Ukraine  United Arab Emirates  United Kingdom  \
Year
2018         NaN    42.0     57.0                  21.0            17.0
2022        56.0    48.0     59.0                  24.0            22.0

Country  United States  Uruguay  Venezuela  Vietnam
Year
2018               9.0      NaN        NaN     60.0
2022              15.0     49.0       83.0     79.0

[2 rows x 87 columns]

# **7. Basic Line/Bar Graph**

In [ ]:
# Graph the Quality of life of United the sates
fig = px.line(usa, x= 'Year_str',y ='Quality of Life Index')

#change tittle

fig.update
fig.show()

In [ ]:
# Graph the Quality of life of United the sates
fig = px.bar(usa, x= 'Year_str',y ='Quality of Life Index')
fig.show()

## Two y-axis

In [2]:
# Create a figure with secondary axis
fig = make_subplots(specs = [[{"secondary_y": True}]])

# Add traces
fig.add_trace(
    go.Scatter(x = usa['year_str'], y = usa['Quality of Life Index'], name = ['Safety Index']),
    secondary_y = False,
)

fig.add_trace(
    go.Scatter(x = usa['year_str'], y = usa['Health Care Index'], name = ['Cost of Living Index']),
    secondary_y= True
    
)

NameError: ignored